/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.menu * {
  display: inline;
}

.menu li {
  margin: 35px;
}

.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu ul {
  padding-left: 0px;
}

.menu {
  font-size: 20px;
  font-style: italic;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1;
}

.profile {
  border-radius: 30%;
  display: inline-block;
  padding: 0.5rem;
  margin-top: 20px;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
  margin-bottom: 50px;
}

.profile__description {
  font-style: italic;
}

.about__tecks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teck__title {
  margin-bottom: 50px;
}

.teck:first-child {
  color: #e4cf4c;
}

.teck:nth-child(2) {
  color: #80bd01;
}

.teck:last-child {
  color: #61dbfa;
}

.teck__icon {
  width: 170px;
  height: 100px;
  line-height: 130px;
  font-size: 70px;
}

.scene {
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  font-weight: 200;
}
.scene.one {
  background-image: url(img/1.jpeg);
}
.scene.two {
  background-image: url(img/3.jpeg);
}
.scene.three {
  background-image: url(img/2.jpeg);
}
.scene header {
  color: white;
  max-width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  text-align: center;
}
.scene header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
/* .scene header h1:after {
  content: "";
  border-bottom: 1px solid white;
  width: 8rem;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
} */
